.frontend-advertisment-default .advertisment-bound{
	text-align:center;
	margin-bottom:10px;
}
.frontend-advertisment-default .advertisment-bound img{
	margin:0 auto;
}
.frontend-advertisment-default .advertisment-bound embed{
}
.frontend-advertisment-default .advertisment-bound a{
	color:#000;
}
